@import './variables.scss';

.btn-primary{
  background-color: $secondary-color;
  color: $text-color;
  width: 100px;
  height: 50px;
}

.form__submit-btn{
  background-color: $primary-color;
  text-align: center;
  color: $text-color;
}